@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/GeistMono-Regular.ttf);
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

.header,
.footer {
  /* background-color: #DDE5F2; */
  /* background-color: #82534f; */
  background-color: #42B1BC;

}

.footer {
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F2EADD;
  font: 400 18px/1.5 "Roboto";
  color: #0A0905;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 4px black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  margin-bottom: auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F2EADD;
}

.section {
  width: 48%;
  padding: 10px;
  border-bottom: 1px solid #BC4D42;
}

.section-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 25px 0 0;
}

.section-summary-title,
.section-profile-subtitle {
  color: #42B1BC;
}

.section-profile-subtitle {
  margin: 10px 0;
}

.section-summary {    
  margin-top: 20px;
}

.section-education,
.section-languages {
  border-bottom: none;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-link {
  padding: 20px 20px;
  line-height: 50px;
  font-size: 18px;
  color: #F2EADD;
  text-decoration: none;
}

.nav-item {
  border: 1px solid transparent;
}

.nav-item:hover {  
  border: 1px solid #F2EADD;
  transition: all 0.5s linear;
}

.ulist {
  list-style: none;
}

.link {
  color: #0A0905;
  text-decoration: none;
  transition: color 0.5s;
}

.link:hover {  
  color: #42B1BC;
}

.footer-link {
  color: #F2EADD;
  text-decoration: none;
}

.span-style {
  font-weight: bold;
  font-size: 1.15em;
}

.pre-block {
  white-space: pre;
  color: #42B1BC;
  font-size: 0.8em;
}

.italic-style {
  color: #42B1BC;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
  }

  .section-summary {
    margin-top: 0;
  }

  .section-education {
    border-bottom: 1px solid #BC4D42;
  }

}